# Local Next.js runtime env
NEXT_PUBLIC_SUPABASE_URL=https://mzcztlqkayyvyzdmiycz.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_DEFAULT_KEY=sb_publishable_qIkpnkrGqQXqtSRTbAfj6Q_e9VWjPIT

# Needed locally for Prisma CLI commands
DATABASE_URL=postgresql://postgres:OdinTheDog01@db.mzcztlqkayyvyzdmiycz.supabase.co:5432/postgres
