# Connect to Supabase via connection pooling
DATABASE_URL=postgresql://postgres.mzcztlqkayyvyzdmiycz:[YOUR-PASSWORD]@aws-1-us-east-2.pooler.supabase.com:6543/postgres?pgbouncer=true

# Direct connection to the database. Used for migrations
DIRECT_URL=postgresql://postgres.mzcztlqkayyvyzdmiycz:[YOUR-PASSWORD]@aws-1-us-east-2.pooler.supabase.com:5432/postgres

# Supabase client configuration
NEXT_PUBLIC_SUPABASE_URL=https://mzcztlqkayyvyzdmiycz.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_DEFAULT_KEY=sb_publishable_qIkpnkrGqQXqtSRTbAfj6Q_e9VWjPIT
