# Used by Prisma commands (e.g. npm run prisma:migrate)
DATABASE_URL=postgresql://postgres:OdinTheDog01@db.mzcztlqkayyvyzdmiycz.supabase.co:5432/postgres
SUPABASE_DATABASE_URL=postgresql://postgres:OdinTheDog01@db.mzcztlqkayyvyzdmiycz.supabase.co:5432/postgres

# Supabase client configuration
NEXT_PUBLIC_SUPABASE_URL=https://mzcztlqkayyvyzdmiycz.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_DEFAULT_KEY=sb_publishable_qIkpnkrGqQXqtSRTbAfj6Q_e9VWjPIT
